:module(cart) {
    .main-container{
        padding: 25px;
    }
    .without-product{
        padding: 25px;
        background-color: white;
        border-radius: 10px;
        font-size: 15%;
    }
    .text-format{
        font-size: 1000%;
        text-align: center;
    }
}