:module(footer){
    .main {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 10vh;
        width: 100vw;
        max-width: 100%;
        background-color: #555A5D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: white 1px solid;
        >p {
            margin: 1px;
            color: white;
            font-size: 1em;
            @media only screen and (max-width:530px) {
                font-size: 0.8em;
            }
        }
    }
}