:module(header) {
    .main-container {
        display: flex;
        align-items: center;
        height: 60px;
        background-color: #282D32;
        .left-content {
            >a {
                margin-left: 20px;
                text-decoration: none;
                &:hover {
                    background-color: transparent;
                    cursor: pointer;
                }
                .logo {
                    width: 70px;
                    height: 70px;
                }
            }
        }
        .right-content {
            display: flex;
            margin-left: auto;
            >a {
                color: rgba(255, 255, 255, 0.75);
                margin: 10px;
                text-decoration: none;
                &:hover {
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                }
            }
            margin-right: 20px;
        }
    }
}