<!DOCTYPE html>
<html>
<div class="<%=css_module("footer","main")%>">
    <p>Copyright Mamid 2018™ - All Rights Reserved</p>
    <p>BitDefender SafeBuy Certificate</p>
    <p>Website Powered by Ruby on Rails and the souls of Young Men</p>
</div>
</html>